[submodule "site-packages/eventsmanager"]
	path = site-packages/eventsmanager
	url = https://github.com/rkoschmitzky/eventsmanager
[submodule "site-packages/Qt.py"]
	path = site-packages/Qt.py
	url = https://github.com/rkoschmitzky/Qt.py
[submodule "site-packages/Nodz"]
	path = site-packages/Nodz
	url = https://github.com/rkoschmitzky/Nodz
